<div class="comment-body">
	<div class="comment-body__author">
		<p>
		  <b>Commenter:</b>
		  <%= User.find(comment.user_id).email %>
		</p>

		<p>22:57</p>
	</div>


	<p class="comment-body__content">
		<!-- <b>Комментарий:</b> -->
		<%= comment.body %>
	</p>
  <div class="comment-body__remove">
		<% if current_user.id == comment.user_id %>
		
		<p>
		  <%= link_to 'Destroy Comment', [comment.post, comment],
		               :confirm => 'Are you sure?',
		               :method => :delete %>
		</p>
		<% end %>
  </div>
</div>
