<p>
	<b>Комментатор</b>
	<%= comment.commenter %>
</p>
<p>
	<b>Комментарий:</b>
	<%= comment.body %>
</p>

<p>
 <%= link_to '🗑️', [comment.post, comment],
							 :confirm => 'Are you sure?',
							 :method => :delete %>
</p>
