<header class="header">
  <ul>
    <li>
      <%= link_to "Промо", promo_path %>
      <%= link_to "О нас", about_path %>
      <%= link_to "Блог", posts_path %>
    </li>
  </ul>
  <%= image_tag "logo.svg", :class => "logo" %>
</header>
