<header class="header">
  <ul>
    <li class="header__link">
      <%= link_to "Промо", promo_path %>
    </li>
    <li class="header__link">
      <%= link_to "О проекте", about_path %>
    </li>
    <li class="header__link">
      <%= link_to "Блог", posts_path %>
    </li>

  </ul>
  <%= image_tag("logo.svg", :class => "logo") %>
</header>
