<div class="new-post__wrapper">
  <div class="new-post__block">
    <%= render "promo/navbar" %>
    <div class="new-post__block__title">
        <h1>Новый пост</h1>
        
    </div>
  </div>


<div class="new-post__form">
    <%= render 'form', post: @post %>
</div>

<div class="final-actions">
  <%= link_to 'Назад', posts_path %>
</div>
