// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "apercu-bold";
  font-weight: auto;
  src: url(font/ApercuMonoPro-Bold.ttf)
  format('truetype');
}



$marginLeft: 7vw;

  body{
    list-style: none;
    font-family: 'Inter', sans-serif;
    margin: 0;
  }
  // header{
  //   background-color: #15239D; height: 60vw;
  // }
  header {
    nav {
      ul {
        display: flex; flex-direction: row; color: #fff;} a{
          padding: 1.5vw; font-family: 'Inter', sans-serif; font-weight: 500;
        }
    }
  }

  ul{
    a:visited {
      color: #fff; }
      a:hover{
        text-decoration: underline;
      }
  }

  header{
    h1{
      color: #fff; font-family: 'Inter', sans-serif; font-weight: 600; font-size: 5.6vw; display: block; margin-left: 25vw; margin-top: 20vw; width: 40vw; line-height: 1;

    }
  }


  header{
    .wavy_grad{
       position: absolute; width: 35vw;
     }
     .all_waves{
       position: absolute; width: 50vw;

     }
  }

  header{
    .all_waves{
      margin-left: -25vw;
    }
    .wavy_grad{
      margin-left: 70vw;
      margin-top: -25vw;
      width: 45vw;
    }
  }

   .wrapper{
     h2{
       font-size: 5vw;
       line-height: 5.2vw;
       width: 70vw;
       margin-left: $marginLeft;
     }
     p{
       width: 40vw;
       font-size: 1.5vw;
       margin-left: 30vw;
     }
   }
