// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "apercu-bold";
  font-weight: auto;
  src: url(font/ApercuMonoPro-Bold.ttf)
  format('truetype');
}

  // ul{
  //   a:visited {
  //     color: #fff; }
  //     a:hover{
  //       text-decoration: underline;
  //     }
  // }

   .wrapper{
     h2{
       font-size: 5vw;
       line-height: 5.2vw;
       width: 70vw;
       margin-left: $marginLeft;
     }
     p{
       width: 40vw;
       font-size: 1.5vw;
       margin-left: 30vw;
     }
   }
