// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
body{
  margin-top: -5vw;
}
body, p, a {
  font-family: 'Nunito Sans', arial, helvetica, sans-serif;
  font-size: 1.1vw;
  line-height: 1.3vw;}
p{
  width: 40vw;
}
body  h2, body h3{
   font-family: 'Nunito Sans', arial, helvetica, sans-serif;
 }
h3{
  color: #327a77;
}
