// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');


body, p, ol, ul, td {
  font-family: 'Inter', sans-serif;
  font-size: 1.1vw;
  line-height: 1.3vw;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a{
  color: #000;
  text-decoration: none;}

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  transform: scale(0.1vw); }


// body btn{
//   background-color: #327a77;
// }
//
// table{
//   display: flex;
//   flex-direction: row;
// }
//
// tr{
//   display: flex;
//   flex-direction: column;
// }
//
// th {
//   padding-bottom: 5px;
//   text-transform: uppercase;
//   font-family: 'Inter', sans-serif;
//   font-weight: 700;
//   text-align: left;
//   padding-top: 1.4vw;}


// td {
//   padding: 0 5px 7px;
//   text-decoration: none;
//   padding-top: 1.4vw;
// }
// td:nth-of-type(1),
// td:nth-of-type(2),
// td:nth-of-type(3){
//   width: 40vw;
//   font-size: 1.3vw;
//   line-height: 1.4vw;
// }


//styles for header part
#main-post {
    background-image: url(image-path('blog.png'));
}

.main__content-blog {
  margin-top: -36px;
}

.main__content-blog__text {
  padding-top: 6vw;
  margin-left: 9vw;
}

.main__content-blog__pic {
  margin: 0 auto;
  margin-right: 0;
}

//styles for "create new post btn"


//styles for posts lines and tables
.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 80px;
}

.posts__item {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin-right: 2vw;
  margin-bottom: 2vw;
  background: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(123, 132, 165, 0.2), 0px 0px 10px rgba(177, 180, 188, 0.15);
  border-radius: 10px;
}

.posts__item__img {
  border-radius: 10px;
}
.posts__item__text {
  padding: 4px 20px;
}
