
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;}


tr{
  display: flex;
  flex-direction: column;
}
tbody tr{
  padding-left: 3vw;
}

th {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: left;
  padding-top: 1.4vw;}
td {
  padding: 0 5px 7px;
  text-decoration: none;
  padding-top: 1.4vw;
}

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 0.1vw solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }


//Header render styles
.header {
  width: 100%;
  padding: 36px;
  display: flex;
   ul {
     display: flex;
     li {
       margin-right: 40px;
       a {
         color: white;
         font-size: 18px;
         line-height: 115.5%;
       }
     }
   }
   .logo {
     margin-left: 23%;
   }
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}