
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html {
  overflow-x: hidden;
}
body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;}


div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 0.1vw solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }


//Header render styles
.header {
  padding: 36px;
  display: flex;
   ul {
     display: flex;
     li {
       margin-right: 40px;
       a {
         color: white;
         font-size: 18px;
         line-height: 115.5%;
       }
     }
   }
   .logo {
     margin-left: 23%;
   }
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

h2{
  font-weight: 600;
  font-size: 56px;
  line-height: 115%;
  width: 300px;
  color: #000;
}

h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #FFFFFF;
}


//styles for form (start with post editing)
.editing-wrapper {
  form {
    margin: 0 auto;
    margin-top: 2vw;
    padding: 4vw;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(123, 132, 165, 0.2), 0px 0px 10px rgba(177, 180, 188, 0.15);
    border-radius: 10px;
  }
}

.editing-wrapper__block {
  background-image: url(image-path('edit-bc.png'));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  // background-color: #1B1B1B;
}

.editing-wrapper__block__title {
  text-align: center;
  padding-bottom: 4vw;
}

.form__block {
  margin-bottom: 2vw;
}

.form__block__title {
  color: #1B1B1B;
  font-weight: 600;
  font-size: 21px;
  line-height: 125%;
  margin-bottom: 4px;
}

form {
  input {
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
    width: 20vw;
  }

  .form__block:first-of-type input {
    border: none;
  }

  .actions input {
    background: #15239D;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    width: auto;
  }

  textarea {
    width: 80%;
    height: 20vw;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
  }
}



//styles for a post
.one-post__block {
  background-color: #1B1B1B;
}

.view-post{
  .view-post__name{
    position: absolute;
    margin: 5% 0 auto 46%;
    padding: 30px 0;
    color: #fff;
    z-index: 2;
    text-transform: uppercase;
  }
  .post-pic{
    width: 740px;
    z-index: -1;
    margin: 5% 0 auto 24%;
    filter: brightness(0.5);
  }

  .view-post__discript{
    margin: 0 360px;
      h2{
        font-size: 30px;
        margin: 50px 40px auto 40px;
      }
    .rect{
      width: 15vw;
      height: 1.5px;
      background-color: #000;
      margin: 10px 0 auto 40px;
    }

    .view-post__content{
      p{
        margin: 20px 40px;
        line-height: 125%;
      }
    }
  }
}

// styles for comments
.view-post{
  .view-post__comments{
    margin: 0 360px;
    h2{
      margin: 20px 40px;
      font-size: 24px;
    }
    h3{
      color: #000;
      font-size: 20px;
      margin: 50px 0 auto 40px;

    }
  }
  .view-post__title {
    width: 50%;
  }
}

.comment-body{
  margin: 40px 24px;
  background-color: #F8F8F8;
  padding: 17px;
  border-radius: 4px;
  .comment-body__author{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p:first-of-type{
      font-weight: 600;
    }
    p:nth-of-type(2){
      font-size: 12px;
      color: #C4C4C4;
      padding-right: 140px;
    }
  }
  .comment-body__content{
    line-height: 125%;
    padding: 20px 0;
    width: 500px;
  }
}

.comment-body__remove{
  a {
    border-radius: 8px;
    margin: 5% 85% auto 0%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #1b1b1b;
    padding: 8px 16px;
  }
  &:hover {
    a {
      color: white;
      background-color: #1b1b1b;
    }
  }
}
// .comment-body__remove:hover{
//   color: #C4C4C4;
//   background-color: #1b1b1b;
// }

.final-actions {
  margin: 50px 28%;
}


// styles for adding new post
.new-post__block {
  // background-color: #1B1B1B;
  background-image: url(image-path('new-bc.png'));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.new-post__wrapper{
  .new-post__block__title{
    text-align: center;
    padding-bottom: 4vw;
    h1{
      font-size: 36px;
    }
  }
  .new-post__form{
    margin: 50px 400px;
  }
}
.form__block {
  margin-bottom: 2vw;
}
