
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;}


div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 0.1vw solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }


//Header render styles
.header {
  padding: 36px;
  display: flex;
   ul {
     display: flex;
     li {
       margin-right: 40px;
       a {
         color: white;
         font-size: 18px;
         line-height: 115.5%;
       }
     }
   }
   .logo {
     margin-left: 23%;
   }
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

h2{
  font-weight: 600;
  font-size: 56px;
  line-height: 115%;
  width: 300px;
  color: #000;
}

h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #FFFFFF;
}


//styles for form (start with post editing)
.editing-wrapper {
  form {
    margin: 0 auto;
    margin-top: 2vw;
    padding: 4vw;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(123, 132, 165, 0.2), 0px 0px 10px rgba(177, 180, 188, 0.15);
    border-radius: 10px;
  }
}

.editing-wrapper__block {
  background-color: #1B1B1B;
}

.editing-wrapper__block__title {
  text-align: center;
  padding-bottom: 4vw;
}

.form__block {
  margin-bottom: 2vw;
}

.form__block__title {
  color: #1B1B1B;
  font-weight: 600;
  font-size: 21px;
  line-height: 125%;
  margin-bottom: 4px;
}

form {
  input {
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
    width: 20vw;
  }

  .form__block:first-of-type input {
    border: none;
  }

  .actions input {
    background: #15239D;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    width: auto;
  }

  textarea {
    width: 80%;
    height: 20vw;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
  }
}
