// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sub__input {
    padding: 24px 28px;
    width: 24vw;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    font-size: 21px;
    color: #C4C4C4;
    margin-right: 20px;
}

.sub__btn {
    padding: 24px 36px;
    background: #15239D;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 21px;
    color: white;
}